body{
  background-image: url(images/background.jpg);
  background-color: #73746F;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  /*color: #191970;*/

}
#container{
  width: 1160px;
  height: auto;
  margin: auto;
  overflow: auto;
  padding: 10px;
  border-left: 2px solid black;
}
.section{
  border-bottom: 2px solid black;
  text-align: center;
  font-size: 55px;
  font-family: "Amaranth", cursive;
  width: 17%
  margin: 10px 0 0 40px:
}                                   /*House the heads of the 4 major sections*/

#menu{
  float:right;
  color: white;
  text-align: center;
  line-height: 70px;
  padding: 2px;
  font-size: 20px;
  width: 12%;
  position: fixed;
  top: 13%;
  left: 84%;
  height: 45%;
  background-color: #2F4F4F;
  border: solid 2px black;
}                       /*Houses the shortcuts to other sections on the page*/
.victor{                      /*houses the image on the home page*/
  height: 640px;
  width: 603px;
  margin-left: 40%;
  text-align: center;
}
.detail{
  font-size: 27px;
  margin-left: 20px;
}
#intro {                                  /*Introduction details name-age etc*/
  width: 12%;
  border-bottom: solid black 2px;
  margin-left: 70px;
  margin-top: 10px;
  text-align: center;
}
a:link{
  color: red; text-decoration: none;
}
a:visited{
  color: yellow;
}
a:hover{
  text-decoration: underline;
  color: white;
}
.li {list-style: none;
}
#about{
  text-align: center;
  font-size: 55px;
  font-family:  "Amaranth", cursive;
  text-decoration: underline;
  color: white;
}
#aboutcontent{
  font-size: 22px;
  text-align: center;
  color: #7FFFD4;
}
#educationtitle{
    width: 24%;
    border-bottom: solid #7FFFD4 2px;
    margin-left: 70px;
    margin-top: 10px;
    text-align: center;
    font-size: 27px;
    color: #7FFFD4;
}
#educationcontainer{
  height: auto;
  width: 900px;
  margin: auto;
}
#educationcontainer #fr{
  height:auto;
  margin: auto;
  width: 900px;
  padding: 20px;
}
 #fr #fr1{
  font-size: 27px;
  width: 45%;
  color: #7CFC00;
  height:auto;
  text-decoration: underline;
}
#fr #fr2 {
  font-size: 27px;
  width: 50%;
  color: #7CFC00;
  height: auto;
}
#educationcontainer #sr{
  height: auto;
  margin: auto;
  width: 900px;
  color: #7CFC00;
  padding: 20px;
}
#sr #sr1{
  font-size: 27px;
  width: 50%;
  color: #7CFC00;
  height: auto;
  text-decoration: underline;
}
#sr #sr2{
  font-size: 27px;
  width: 80%;
  color: #000000;
  height:auto;
}
#educationcontainer #tr{
  height: auto;
  margin: auto;
  width: auto;
  color: #7CFC00;
}
#tr #tr1{
  width: auto;
  color: #7CFC00;
  height: auto;
  text-decoration: underline;
}
#tr #tr2 {
  width: auto;
  color: #7CFC00;
  height: auto;
}
#educationcontainer #fthr{
  width: 900px;
  height: auto;
  margin: auto;
  color: black;
}
#fthr #fthr1 {
font-size: 27px;
text-decoration: underline;
}
#fthr #fthr2 {
font-size: 27px;
}
span{
  font-family: cursive;
  font-weight: bold;
  color: #DC143C;
}
#portfolio{
  width: 900px;
  height: auto;
  font-size: 27px;
  text-align: center;
}
#projectsdone{
  text-align: left;
}
#email ol li{
  list-style: none;
  padding: 5px;
}
#email img{
  height: 70px;
  width: 70px;
}
#fifthrow{
  width: auto;
  font-size: 27px;
  color: black;
  height: auto;
}
#fifthrow h3{
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}
